{% extends "parts/base.html" %}


{% block body %}
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 push-md-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=836" alt="">
				</div>
			</div>
			<div class="col-md-6 pull-md-6">
				<div class="p-5">
					<h2 class="display-4">Индивидуальные решения</h2>
					<p>
					Достигайте успеха с помощью ИТ-инфраструктуры, созданной специально для вашей организации.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="p-5">
					<h2 class="display-4">Бизнес – это непрерывная гонка.</h2>
					<p>Будьте быстрее других. Используйте подходящие информационные технологии и технологические решения для малых и средних предприятий, чтобы обеспечить необходимую динамику развития бизнеса и добиться успеха.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 push-md-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=453" alt="">
				</div>
			</div>
			<div class="col-md-6 pull-md-6">
				<div class="p-5">
					<h2 class="display-4">Развитие бизнеса</h2>
					<p>Проанализировав данные о клиентах, можно определить самые перспективные направления роста. Узнайте, как ИТ-решения для малых и средних предприятий могут открыть новые возможности.
					
					Развитая ИТ-среда с решениями хранения данных для малых и средних предприятий позволяет максимально раскрыть потенциал бизнес-приложений. Узнав больше о своих клиентах, вы сможете быстрее принимать более взвешенные решения.
					
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="p-5">
					<h2 class="display-4">Сократите затраты.</h2>
					<p>К чему идти на компромиссы? Доступные ИТ-решения для малых и средних предприятий помогут вам снизить затраты уже сегодня, а также поддержать вашу конкурентоспособность завтра.</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 push-md-6">
				<div class="p-5">
					<img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=453" alt="">
				</div>
			</div>
			<div class="col-md-6 pull-md-6">
				<div class="p-5">
					<h2 class="display-4">Поддержка</h2>
					<p>...</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}